.post {
  margin-bottom: 5.0625em;
}

.post__header {
  margin: 0 0 2.66667em auto;
}

.post__meta {
  margin-bottom: .44444em;
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

.post__footer {
  font-size: 12px;
  margin-top: 2.66667em;
  border-top: 3px solid #E6E6E6;
}
